<div *ngIf="cryptos">
  <table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Moneda</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let crypto of objectKeys(cryptos)">
            <td>{{ crypto }}</td>
            <td>{{ cryptos[crypto].USD | currency:'USD':true}}</td>
        </tr>
    </tbody>
  </table>
  <!-- <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
    <span class="left">{{ crypto }}</span>
    <span class="right">{{ cryptos[crypto].USD | currency:'USD':true}}</span>
  </div> -->
</div>
