<div class="innercard p-2">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid"><img src="../../../assets/images/crypto.png" height="50px" width="50px" /> <a class="navbar-brand name" href="#">Crypto<span class="go">Go</span></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"> <a class="nav-link" href="Prices"> Precios </a> </li>
                </ul>
                <div class="btn btn-dark">Registrate</div>
            </div>
        </div>
    </nav>
</div>
